:root{
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(134, 21, 130);
}
.background2 {
    background-color: rgb(48, 48, 48);
    color: white;
     
}
.chleba {
    color: white;
}

.chleb {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: column;
    gap: 20px;
}

img {
    width: 350px;
}

.chleba div {
    background-color: blueviolet;
}
.grid{

}
