:root{
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(134, 21, 130);
}
.background2 {
    background-color: rgb(48, 48, 48);
     
}
.chleba {
    color: white;
}

.chleb {
    display: flex;
    height: 300px;
    width: 800px;
    

}
.chleb2 {
    display: flex;
    height: 300px;
    width: 800px;
    
}

