:root{
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(134, 21, 130);
}
.background2 {
    background-color: rgb(48, 48, 48);
     
}
.chleba {
    color: white;
}
.who-img{
    background: url(../img/1.png) no-repeat center center/cover;
    height: 50vh;
    width: 50vh;
    justify-content: center;

}
.who-img2{
    background: url(../img/2.png) no-repeat center center/cover;
    height: 50vh;
    width: 50vh;
    justify-content: center;
}
.who-img3{
    background: url(../img/3.png) no-repeat center center/cover;
    height: 50vh;
    width: 50vh;
    justify-content: center;
}
.who-img4{
    background: url(../img/4.png) no-repeat center center/cover;
    height: 50vh;
    width: 50vh;
    justify-content: center;
}
.who-img5{
    background: url(../img/5.png) no-repeat center center/cover;
    height: 50vh;
    width: 50vh;
    justify-content: center;
}
.who-img6{
    background: url(../img/6.png) no-repeat center center/cover;
    height: 50vh;
    width: 50vh;
    justify-content: center;
}